<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        #title="ngModel"/>
        <mat-error *ngIf="title.invalid">Please enter valid title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput rows="6"
        name="content"
        ngModel
        required
        #content="ngModel"></textarea>
        <mat-error *ngIf="content.invalid">Please enter valid title</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      type="submit"
      color="accent">
      Save Post
    </button>
  </form>
  <!-- <mat-form-field>
    <input matInput type="text" [(ngModel)]="enteredTitle" />
  </mat-form-field>
  <mat-form-field>
    <textarea matInput rows="6" [(ngModel)]="enteredContent" ></textarea>
  </mat-form-field>
  <button
    mat-raised-button
    color="accent"
    (click)="onAddPost()">
    Save Post
  </button> -->
</mat-card>
<p>{{ newPost }}</p>
